---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";

import { Image } from "astro:assets";
import myImage from "../content/images/IMG_6439.JPG";
---

<Layout title="Sara Gaya" description="Sara Gaya Website">
  <script
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "HomePage",
      name: "Sara Gaya",
      description: "Sara Gaya Website.",
      url: new URL("/", Astro.site).href,
      isPartOf: {
        "@type": "WebSite",
        name: "Sara Gaya",
        url: Astro.site?.href,
      },
    })}
  />
  <section class="home">
    <Heading as="h1">Hi, I'm Sara.</Heading>
    <div class="home-row">
      <div class="home-section">
        <Prose>
          <p>I'm a software developer and future lawyer.</p>
          <p>
            I've worked in tech for almost 5 years, and I'm ready to contribute
            to the industry in a new way.
          </p>
          <p>
            My blog, Thoughts Overflow, is where I share my thoughts on anything
            that interests me, including books, video games, culture, fashion,
            etc. It's sparse, but I'm hoping to change that soon. Take a look if
            you're interested!
          </p>

          <Heading as="h2">Currently...</Heading>
          <ul>
            <li>
              Playing <a
                href="https://store.steampowered.com/app/2701440/PARANORMASIGHT_The_Mermaids_Curse/"
                target="_blank">Paranormasight 2</a
              > and <a
                href="https://www.square-enix-games.com/en_GB/games/octopath-traveler-0"
                target="_blank">Octopath Traveler 0</a
              >
            </li>
            <li>
              Building this new site on <a
                href="https://astro.build/"
                target="_blank">Astro🚀</a
              >
            </li>
            <li>
              Watching <a href="https://www.imdb.com/title/tt0200276/"
                >The West Wing</a
              >
            </li>
          </ul>
          <div class="currently-date">As of 02.27.2026</div>

          <Heading as="h2">Contact & Links</Heading>
          <ul>
            <li>
              Email: <a href="mailto:saracgaya@gmail.com">saracgaya@gmail.com</a
              >
            </li>
            <li>LinkedIn</li>
            <li>Github</li>
          </ul>
        </Prose>

        <Image src={myImage} alt="Me and my husband" class="home-image" />
      </div>
    </div>
  </section>
</Layout>

<style>
  .home {
    max-width: var(--width-page);
    p,
    li {
      font-family: var(--font-body);
      font-size: var(--font-size);
    }
  }

  .home-row {
    display: flex;
    flex-direction: row;
  }

  .home-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .home-image {
    width: 100%;
  }

  .currently-date {
    font-size: 0.85rem;
    font-style: italic;
  }
</style>
